<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/hectordanielgomez/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/Daniel65047403"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/dany_hdg19/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/hectordaniel.gomez.12"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>



