<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/YO-FOTOPERFIL.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">HECTOR DANIEL GOMEZ</p>
        <P>LICENCIADO EN SEGURIDAD EN TECNOLOGIAS DE LA INFORMACION Y TELECOMUNICACIONES</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>ACERCA DE MI</h1>
            <p>SOY UNA PERSONA PROACTIVA, SIEMPRE EN CONSTANTE APRENDIZAJE PARA MEJORAR MIS ACTITUDES, OBSERVADOR, EMPRENDEDOR</p>
            
        </span>
    </div>
</div> 