.row{
    padding: 10px;
}

div{
    background-color: rgb(0, 174, 255);
    text-align: center;
}

@media (min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 17%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(243, 239, 239);
        left: 0.5%;
        top: 335px;
    }
}


@media (max-width:575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 733px;
    }
}

#nombre{
    font-weight:bolder;
    margin-top: 10%;
    font-size: 25px;
}

h1{
    font-weight:bolder;
    font-size: 30px;
}

p{
    font-size: 20px;  
}