<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/YO-FOTOPERFIL.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">GOMEZ HECTOR DANIEL</p>
        <P>LICENCIADO EN SEGURIDAD EN TECNOLOGIAS DE LA INFORMACION Y TELECOMUNICACIONES</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde corrupti tenetur harum eaque esse libero dolore at explicabo maxime tempore repellat maiores in dolores, blanditiis enim totam eos nemo expedita.</p>
            
        </span>
    </div>
</div> 